<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tata">
    <!--网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--通知震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--读外部存储卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--写外部存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--监听开机-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name=".BmobIMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="bb074d4b83f7bae9c3ab4a406a8c3708" />
        <activity android:name="ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ui.ChatWithYouActivity"></activity>
        <activity android:name="ui.ChatWithTuLingActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="ui.MainActivity"></activity>
        <activity android:name="ui.SetBackgroundActivity"></activity>
        <activity android:name="ui.ChooseBgPicActivity"></activity>
        <activity android:name="ui.SetAvatarActivity"></activity>
        <activity android:name="ui.FutureMsgActivity"></activity>
        <!-- bmobim start -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
    </application>

</manifest>
